body{
    background-image: url("2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
}

#body{
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
}

#body1{
    background-image: url("3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
}

#logIn{
    position: absolute;
    margin-left: 30%;
    margin-top: 170px;
    width: 25%;
    background: white;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#registro{
    position: absolute;
    margin-left: 28%;
    margin-top: 180px;
    width: 30%;
    background: white;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inicio{
    position: absolute;
    margin-left: 30%;
    margin-top: 180px;
    width: 25%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#perfil{
    position: absolute;
    margin-left: 28%;
    margin-top: 160px;
    width: 30%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#historial{
    position: absolute;
    margin-left: 28%;
    margin-top: 160px;
    width: 30%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#historialb1{
    color: white;
    background: gray;
    opacity: 0.7;
    height: 70px;
}

#historialb2{
    background: white;
    height: 70px;
    opacity: 0.7;
}

#equipo{
    position: absolute;
    margin-left: 28%;
    margin-top: 180px;
    width: 30%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#equipoIA{
    position: absolute;
    margin-left: 18%;
    margin-top: 100px;
    width: 50%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#individual{
    text-align: center;
}

#tabla{
    margin-top: -90px;
    width: 100%;
}

#td1,#th1{
    width: 90px;
    height: 90px;
    vertical-align: middle;
}

#tabla1{
    margin-top: -140px;
    width: 100%;
}

#td2,#th2{
    width: 90px;
    height: 45px;
    vertical-align: central;
    padding-left: 3px; 
}

#imgpokeT{
    width: 90px;
    height: 90px;
}

#battle{
    position: absolute;
    margin-left: 30%;
    margin-top: 180px;
    width: 25%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultados{
    position: absolute;
    margin-left: 30%;
    margin-top: 260px;
    width: 25%;
    background: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#nombre{
	margin-left: 50px;
	margin-top: -7px;
}
/* este es un comentario en CSS*/

#pacto {
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
}

.sombraTexto {
    text-shadow:  2px 4px 3px rgba(0,0,0,0.3);
}

#altoThumbnail {
    height: 450px;
}
